@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #8726c8;
  --price: #ff09095e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-price: var(--price);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --price: #000000;
  --primary: #8726c8;
}

body {
  background: var(--background);
  background-color: var(--price);
  background-color: var(--primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
